.star {
    height: 1.5em;
    width: 1.5em;
}

.flex {
    display:flex;
}

.cursorPointer {
    cursor: pointer;
}

.image {
    width: 300px;
    height: 300px;
}

@media screen and (max-width: 800px) {
    .image {
        width: 370px;
        height: 300px;
    }
}