.image {
    width: 300px;
    height: 300px;
}

@media screen and (max-width: 800px) {
    .image {
        width: 287px;
        height: 300px;
    }
    .container {
        display: none;
    }
}

.container {
    display: flex;
    justify-content: center;
    justify-items: center;
    justify-self: center;
}