@media screen and (max-width: 800px) {
    .row {
        padding-right: 50px;
    }

    .container {
        margin-bottom: 10px;
    }

    .listgroup {
        margin-bottom: 10px;
    }
}

.listgroup {
    padding-left: 70px;
}

.ingredient {
    text-align: center;
}

.amount {
    font-weight: bold;
}

.header {
    font-family: -apple-system, serif;
    color: dimgrey !important;
    text-align: center;
}

.container {
    border: 1px solid lightgray;
    display: block;
}
