@media screen and (max-width: 800px) {
    .container {
        margin-bottom: 10px;
    }
}

.header {
    display: flex;
    justify-content: center;
    font-family: -apple-system, serif;
    color: dimgrey !important;
    text-align: center;
    font-weight: bold;
}

.container {
    border: 1px solid lightgray;
    display: block;
}
