@media screen and (max-width: 800px) {
    .row {
        padding-right: 20px;
    }

    .container {
        margin-bottom: 10px;
    }

    .listgroup {
        margin-bottom: 10px;
        display: flex;
        align-self: center;
        margin-right: 40px;
    }
}

.listgroup {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    align-content: center;
    padding-left: 145px;
}

.ingredient {
    text-align: center;
}

.amount {
    font-weight: bold;
}

.header {
    font-family: -apple-system, serif;
    color: dimgrey !important;
    text-align: center;
}

.container {
    border: 1px solid lightgray;
    display: block;
}
