.header {
    font-family: -apple-system, serif;
    font-weight: bold;
    color: dimgrey !important;
    text-align: center;
}

.container {
    border: 1px solid lightgray;
}

@media screen and (max-width: 800px) {
    .container {
        border: 1px solid lightgray;
        margin-top: 5px
    }
}