.cardImg {
    width: 200px;
    height: 200px;
}

.card {
    color: dimgrey !important;
    font-family: -apple-system, serif;
    font-size: 40px;
    text-align: center;
    backdrop-filter: drop-shadow(10px 10px 2px black);
}

.card:hover {
    cursor: pointer;
}

.cardBody {
    display: flex;
}

.cardText {
    padding-left: 15px;
}