.cardImg {
    width: 310px;
    height: 300px;
}

@media screen and (max-width: 800px) {
    .cardImg {
        display: flex;
        justify-content: center;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 900px) {
    .cardImg {
        display: flex;
        justify-content: center;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }

}

.card {
    color: dimgrey !important;
    font-family: -apple-system, serif;
    font-size: 40px;
    text-align: center;
    backdrop-filter: drop-shadow(10px 10px 2px black);
}

.card:hover {
    cursor: pointer;
}

.cardBody {
    display: flex;
}

.cardText {
    padding-left: 30px;
}