.header {
    padding-top: 10px;
    padding-left: 20px;
    font-weight: bolder;
    text-align: center;
}

.text {
    padding: 10px 10px 10px 20px;
}


.card {
    background-color: #F15025;
    color: #FFFFFF;
    filter: opacity(80%);
}

.image {
    width: 620px;
    height: 620px;
}