.indexContainer {
    overflow-x: hidden;
}

.indexTextTitle {
    font-family: -apple-system, serif;
    font-size: 40px;
    justify-content: center;
    padding: 5px;
    text-align: center;
    color: dimgrey !important;
    backdrop-filter: drop-shadow(10px 10px 2px black);
}

.genericText {
    font-family: -apple-system, serif;
    font-size: x-large;
    color: dimgrey !important;
    backdrop-filter: drop-shadow(10px 10px 2px black);
}

.genericHeader {
    font-family: -apple-system, serif;
    color: dimgrey !important;
    backdrop-filter: drop-shadow(10px 10px 2px black);
    filter: brightness(90%);
}

.logo {
    display: flex;
    justify-items: center;
    justify-content: center;
    width: auto;
    height: 220px;
    color: #F15025 !important;
}

.centerAlignment {
    display: flex;
    justify-content: center;
}

.rightAlignment {
    display: flex;
    justify-content: right;
    padding-bottom: -1000px;
}

/*Mobile progessive*/
@media only screen and (max-width: 1200px) {
    .bannerContainer {
        width: 100%;
    }

    .navContainer {
        padding-top: 25px;
        justify-content: center;
    }

    .logo {
        display: flex;
        justify-items: center;
        justify-content: center;
        width: auto;
        height: 220px;
        color: #F15025 !important;
    }
}

@media only screen and (max-width: 600px) {
    .bannerContainer {
        width: 100%;
    }

    .navContainer {
        padding-top: 25px;
        justify-content: center;
    }

    .bannerImage {
        filter: brightness(75%);
        background-image: url('../public/images/3.jpg');
        background-size: 100% 670px;
        background-repeat: no-repeat;
        height: 400px;
        width: 100%;
        overflow-x: hidden;
    }

    .logo {
        display: flex;
        justify-items: right;
        justify-content: right;
        width: auto;
        height: 150px;
        color: #F15025 !important;
    }
}

.text {
    font-weight: bold;
    text-align: center;
}

.botContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

@media screen and (max-width: 700px) {
    .suggested {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .suggested {
        display: flex;
    }
}

.loginCollapse {
    display: flex;
    background: #F15025;
    position: relative;
    margin: auto;
    opacity: 65%;
}