.bannerContainer {
  width: 100%;
  height: 400px;
}

.indexContainer {
  overflow-x: hidden;
}

.bannerImage {
  filter: brightness(75%);
  background-image: url('../public/images/3.jpg');
  background-size: 100% 670px;
  background-repeat: no-repeat;
  height: 400px;
  width: 100%;
  overflow-x: hidden;
}

.centerAlignment {
  display: flex;
  justify-content: center;
}
.rightAlignment {
  display: flex;
  justify-content: right;
  padding-bottom: -1000px;
}

.navItemText {
  font-family: -apple-system, serif;
  font-size: x-large;
  justify-content: left;
  color: dimgrey !important;
  backdrop-filter: drop-shadow(10px 10px 2px black);
}

.navItemText:hover, .navItemText:focus {
  filter: brightness(70%);
}

.genericText {
  display: flex;
  font-family: -apple-system, serif;
  justify-content: center;
  margin: auto;
  color: dimgrey !important;
  backdrop-filter: drop-shadow(10px 10px 2px black);
}

.genericHeader {
  display: flex;
  justify-content: center;
  margin: auto;
  font-family: -apple-system, serif;
  color: dimgrey !important;
  backdrop-filter: drop-shadow(10px 10px 2px black);
  filter: brightness(90%);
}