.indexContainer {

}
.navContainer {
    padding-top: 25px;
    justify-content: center;
}

.navItemText {
    font-family: -apple-system;
    font-size: x-large;
    color: white !important;
    backdrop-filter: drop-shadow(10px 10px 2px black);
}

.navItemText:hover, .navItemText:focus {
    filter: brightness(70%);
}

.bannerContainer {
    width: 100%;
    height: 400px;
}


.searchBar {
    color: white;
    background: transparent;
    border-radius: 0.7em;
    border: 1px;
    box-shadow: 0.5px 0.7px 3px 2px rgba(226,226,226,0.75);
    font-weight: bold;
    font-family: Arial;
    padding-inline: 7px;
}

.searchBar:hover, .searchBar:focus {
    filter: brightness(70%);
}

.shadowOverlay {
    filter: brightness(70%);
}

.bannerImage {
    filter: brightness(75%);
    background-image: url('../public/images/3.jpg');
    background-size: 100% 670px;
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
  overflow-x: hidden;
}

.logo {
   width: 115px;
    height: 115px;
    color: #F15025 !important;
}

.centerAlignment {
  justify-content: center;
}

@media only screen and (max-width: 1200px) {
  .bannerContainer {
    width: 100%;
  }
  .navContainer {
    padding-top: 25px;
    justify-content: center;
  }
}

@media only screen and (max-width: 600px) {
  .bannerContainer {
    width: 100%;
  }
  .navContainer {
    padding-top: 25px;
    justify-content: center;
  }
  .bannerImage {
    filter: brightness(75%);
    background-image: url('../public/images/3.jpg');
    background-size: 100% 670px;
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
    overflow-x: hidden;
  }

  .centerAlignment {
    justify-content: center;
  }
}